{{template "base/base.html" .}}

{{define "body"}}

{{template "base/navbar.html" .}}

<div class="container todo">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Todo List</h3>
                </div>
                <div class="panel-body todo-list">
                    {{range $key, $value := .tasks}}
                    <div class="col-md-7">
                        {{if eq $value.Status 1}}
                        <div class="checkbox">
                            <label><input type="checkbox" id="checked" value="{{$value.ID}}" checked>{{$value.Content}}</label>
                        </div>
                        {{else}}
                        <div class="checkbox">
                            <label><input type="checkbox" id="checked" value="{{$value.ID}}">{{$value.Content}}</label>
                        </div>
                        {{end}}
                    </div>
                    <div class="col-md-5">
                        {{$value.CreatedAt}}
                    </div>
                    {{end}}
                </div>

                <div class="panel-footer list-foot">已完成: {{.done}}, 总共有: {{.total}}</div>

                <div style="text-align: center;">
                    {{template "base/paginator.html" .}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Todo</h3>
                </div>

                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group" style="margin-right: 20px;">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="glyphicon glyphicon-bell"></span>
                                </span>
                                <input type="text" class="form-control add-content" id="add-content" name="add-content" placeholder="What to do" aria-describedby="basic-addon1">
                            </div>

                            <span class="glyphicon glyphicon-tag"></span>
                            <select class="form-control" name="add-degree" id="add-degree">
                                <option class="selected" value="1">紧急</option>
                                <option value="2">重要</option>
                                <option value="3">一般</option>
                            </select>
                            <button type="button" class="btn btn-default add-submit-ok" style="margin-left: 20px;">Go!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3 info-right">
            <blockquote>
                <h4>急需完成任务</h4>
            </blockquote>

            <div class="container-fluid">
                <div class="row">
                    <ul class="list-group">
                        {{range $key, $value := .importants}}
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-pushpin"></span>
                            {{$value.Content}}
                        </li>
                        {{end}}
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
{{end}}


{{define "script"}}
<script>
    $(document).ready(function () {
        $(".add-submit-ok").click(function () {
            var add_content = $("#add-content").val();
            var add_degree = $("#add-degree").val();
            if (add_content == "") {
                return;
            }

            $.ajax({
                type: "POST",
                url: "/add",
                data: {
                    "add-content": add_content,
                    "add-degree": add_degree,
                },
                dataType: "json",
                success: function (resp) {
                   window.location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.status);
                }
            });
        });

        $(".todo-list").bind("click", function (evt) {
//            evt.stopPropagation();
//            for (var i in evt.target) { // 获取当前这个标签的所有网页元素
//                console.log(i, evt.target[i]);
//            }

            if (evt.target.localName == "input") {
                console.log(evt.target.value)
                $.ajax({
                    type: "PUT",
                    url: "/modify",
                    data: {
                        "id": evt.target.value,
                    },
                    dataType: "json",
                    success: function (resp) {
                        window.location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.status);
                    }
                });
            }

        })

    });
</script>
{{end}}